<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="DataAccessLayer.Properties.Settings.Ghanaat_DBConnectionString" connectionString="Data Source=.;Initial Catalog=Ghanaat_DB;User ID=sa;Password=sitecore" providerName="System.Data.SqlClient" />
    <add name="SahaamEntities" connectionString="metadata=res://*/SahaamModel.csdl|res://*/SahaamModel.ssdl|res://*/SahaamModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Ghanaat_DB;User ID=sa;Password=sitecore&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--<add name="DataAccessLayer.Properties.Settings.Ghanaat_DBConnectionString" connectionString="Data Source=.;Initial Catalog=Ghanaat_DB;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="SahaamEntities" connectionString="metadata=res://*/SahaamModel.csdl|res://*/SahaamModel.ssdl|res://*/SahaamModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Ghanaat_DB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->

</configuration>