<?xml version="1.0"?>
<configuration>

  <configSections>
  </configSections>

  <connectionStrings>
    <add name="APM_SubSystems.Properties.Settings.Ghanaat_DBConnectionString"
         connectionString="Data Source=.;Initial Catalog=Ghanaat_DB;User ID=sa;Password=sitecore"
      providerName="System.Data.SqlClient" />
    <!--<add name="APM_SubSystems.Properties.Settings.Ghanaat_DBConnectionString"
        connectionString="Data Source=.;Initial Catalog=Ghanaat_DB;Integrated Security=True"
     providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WPFToolkit" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="3.5.31016.1" newVersion="3.5.40128.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
